/* Set a background image by replacing the URL below */
/* body {
  background: url('localhost/pablos/high-res/Autorretratoserie4.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
} */

.container-class {
    background-image: url(../high-res/Autorretratoserie4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 25vh;
}
a {
  font-family: 'Open-Sans', sans-serif;
  text-align: center;
  color: darkgrey;
  font-size: 2rem;
  font-weight: 600;
}
.col {
  text-align: center;
}
a:hover {
  font-style: normal;
  text-decoration: none!important;
}
